nav{
  
    background-color: green;
   
     
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    margin-left: 20px;
    
}
li{
    
    list-style: none;
    padding: 10px; 
    margin-left: 100px;
}
nav ul :first-child{
    margin-right: auto;
}
nav ul li:last-child{
    margin-right: 100px;
}